.eventinfo{
  font-size: 10px;   
}
.addevent{
	width:350px;
	height:850px;
}

.req{
    color: red;
}
.eventtitle{
	font-size:20px;
}
.cursorHand{

	cursor: pointer;
	cursor: hand; 
}
/*Datetime Show********************************************************************************/

.date2
{
float: left;
height: 80px;
width: 80px;
background: White;
margin-right: 10px;
padding-top: 0px;
line-height: normal;
 border: 2px solid;
 border-radius: 10px;
}

.date2 .month
{
background: black;
display: block;
text-align: center;
color: #FFF;
font-size: 20px;
padding-top: 2px;
text-transform: uppercase;
 border-radius: 8px;
}

.date2 .day
{
display: block;
text-align: center;
padding : -5px 0 10px 0;
color: #222;
font-size: 40px;
font-weight: bold;
}

.textarea2[type="text"] {
    width: 300px;
    height: 25px;
    display: block;
    margin-bottom: 10px;
}

.emailinput[type="e-mail"] {
    width: 300px;
    height: 25px;
    display: block;
    margin-bottom: 10px;
}

.pword[type="password"] {
    width: 300px;
    height: 25px;
    display: block;
    margin-bottom: 10px;
}