

.profform{
	width:350px;
	height:550px;
}

.profileinfo2{
	width:350px;
	height:385px;
}

.eventname{
	font-size:30px;

}

.deluser{
	width:350px;
	height:250px;
}



.posttexts{
	margin-left:20px;
}
p.commentUser{
	margin-left:40px;
	margin-top:30px;
}

.commentpost{
	margin-left:100px;
}

.comment{
	margin-left:40px;
	margin-top:10px;
}
p.commentText{
	margin-left:60px;
}
#postList{
 	height:80vh;
	overflow-y:scroll;
	overflow-x:hidden;
}

.textarea[type="text"] {
    width: 450px;
    height: 25px;
    display: block;
    margin-bottom: 10px;
}

.textarea2[type="text"] {
    width: 300px;
    height: 25px;
    display: block;
    margin-bottom: 10px;
}

.emailinput[type="e-mail"] {
    width: 300px;
    height: 25px;
    display: block;
    margin-bottom: 10px;
}

.pword[type="password"] {
    width: 300px;
    height: 25px;
    display: block;
    margin-bottom: 10px;
}
