.posttexts{
	margin-left:20px;
}
p.commentUser{
	margin-left:40px;
	margin-top:30px;
}

.commentpost{
	margin-left:100px;
}

.comment{
	margin-left:40px;
	margin-top:10px;
}
p.commentText{
	margin-left:60px;
}
#postList{
 	height:80vh;
	overflow-y:scroll;
	overflow-x:hidden;
}
.sendmessage1{
	width:400px;
	height:300px;
}
.foot
{
	width:350px;
	height:180px;
}
